
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="" style="background-color:white;text-align:justify;padding:10px 20px">

    <div class="box" style="box-shadow:0px 0px">
        <div class="row">
            <div class="box-header">
                <h3> جزییات سفارش</h3>
            </div>

        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">نام محصول</th>
                <th scope="col">قیمت</th>
                <th scope="col">تعداد</th>
                <th scope="col">جمع</th>
                <th scope="col">آدرس</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in (IEnumerable<ShopYB.Models.InvoiceDetails>)ViewBag.InvoiceDetails)
            {

                <tr>

                    <th scope="row">@item.Product.Name</th>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Quantity * @item.Price)</td>
                    <td>Address</td>
                </tr>

            }

        </tbody>
    </table>
</div>